body
{
	font-family: Arial, sans-serif;
	font-size: 15px;
	text-align: center;
	min-width: 300px;
	box-sizing: border-box;
	padding: 15px;
}

.container-to-centralize
{
	/* display: inline-block;*/
	vertical-align: top;
}

.card
{
	border: 1px solid #bbb;
	border-radius: 7px;
	display: inline-block;
	text-align: center;
	padding: 10px;
}

#contact-card
{
	padding: 20px 20px;	
	max-width: 500px;
	box-sizing: border-box;
	margin-bottom: 50px;
}

address
{
	font-style: normal;
	display: inline-block;
	width: auto;
	text-align: left;
}

address > h1
{
	margin-bottom: 45px;
}

h1
{
	font-weight: normal;
	font-size: 40px;
	margin-top: 0px;
}

a
{
	color: #05a;
}

#profile-image
{
	width: 185px;
	margin-right: 30px;
}

dl
{
	margin-bottom: 5px;
}

dd:not(:last-child)
{
	margin-bottom: 25px;
}

dd
{
	margin-top: 7px;
	margin-left: 0px;
}

.portifolio-section
{
	width: 100%;
	max-width: 489px;
	display: inline-block;
	padding: 0px;
	text-align: center;
}

.portifolio-section > h1
{
	font-size: 20px;
	display: inline-block;
	text-align: center;
	margin: -10px 0px 5px;
	background-color: white;
	padding: 0px 20px;
	color: #666;
}

ul.portifolio-section-list
{
	width: 100%;
	text-align: center;
	padding-left: 0px;
}

li.portifolio-section-item
{
	text-align: left;
	display: inline-block;
	width: 250px;
	padding-left: 25px;
}

li.portifolio-section-item > *
{
	display: inline-block;
	vertical-align: middle;
}

li.portifolio-section-item:not(:last-child)
{
	margin-bottom: 30px;
}

.app-icon
{
	width: 85px;
	border: 1px solid #bbb;
	border-radius: 23%;
	margin-right: 10px;
}

.portifolio-section-item h1
{
	font-size: 18px;
	margin-bottom: 12px;
}

.app-store-icon
{
	height: 35px;
	opacity: 0.75;
}

.app-store-link
{
	display: inline;
}

@media only screen and (max-width: 540px)
{
	#contact-card,
	.portifolio-section
	{
		max-width: 300px;
	}
	
	address
	{
		text-align: center;
		margin-top: 20px;
	}
	
	#profile-image
	{
		margin-right: 0px;
	}
}